html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.histogram .bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.histogram .bar text {
  fill: #fff;
  font: 12px sans-serif;
}

button {
  margin-right: .5em;
  margin-bottom: .3em !important;
}

.row {
  margin-top: 1em;
}

.mean text {
  font: 11px sans-serif;
  fill: grey;
}

.mean path {
  stroke-dasharray: 3;
  stroke: grey;
  stroke-width: 1px;
}

.arc {
  position: relative;
  height: 300px;
  width: 300px;
}

.arcTitle {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: small;
  margin: 0;
  padding: 0;

}

.arcTitle h2 {
  margin: 0;
  padding: 0;
}

.radialPercentage {
  font-size: xx-large;
  font-family: sans-serif;
}

.barChartSvg {
  margin-left: 2em;
}
